{% include 'home/header.html' %}
{% load static %}
<!-- main -->
<main>
    <div class="bg">
        <img class="bg_img" src="{% static 'home/img/home/home_bg.jpg' %}" alt="">
        <div class="bg_color"></div>
    </div>
    <div class="container">
        <div class="text">
            <p>ЛАСКАВО ПРОСИМО ДО ВПУ 21</p>
            <h1 class="typing_text"></h1>
            <form class="my_button" action="{% url 'about' %}">
                <button>Більше</button>
            </form>
        </div>
    </div>
    <img class="wave" src="{% static 'home/img/home/while_wave.svg'  %}" alt="">
</main>
<!-- profession -->
<div class="profession_home">
    <div class="title" data-aos="fade-up">
        <h1>Професії</h1>
    </div>
    <div class="container container-profession_home">
        <div class="text" data-aos="fade-up">
            <h2>Кажуть, що вибір професії – це друге народження людини. І від того, наскільки вірно буде обраний
                професійний шлях, залежить, яке місце в суспільстві вона займатиме. В нашому навчальному закладі
                доступний доволі великий та різноманітний вибір професій за різними спрямуваннями, від IT-технологій до
                машибудування. При завершенні навчання можна здобути диплом молодшого спеціаліста.</h2>
        </div>
        <div class="profession_box " data-aos="fade-up">
            <div>
                <div class="row zero">
                    <div class="box zero" data-aos-duration="1000"><a href="{% url 'profession' %}"><img
                                src="{% static 'home/img/professions/blacksmith.jpg'%}" alt=""></a></div>
                    <div class="box" data-aos-duration="1000"><a href="{% url 'profession' %}"><img
                                src="{% static 'home/img/professions/developer.jpg'%}" alt=""></a></div>
                    <div class="box" data-aos-duration="1000"><a href="{% url 'profession' %}"><img
                                src="{% static 'home/img/professions/turner.jpg'%}" alt=""></a></div>
                </div>
                <div class="row">
                    <div class="box zero" data-aos-duration="1000"><a href="{% url 'profession' %}"><img
                                src="{% static 'home/img/professions/welder.jpg'%}" alt=""></a></div>
                    <div class="box" data-aos-duration="1000"><a href="{% url 'profession' %}"><img
                                src="{% static 'home/img/professions/locksmith.jpg'%}" alt=""></a></div>
                    <div class="box" data-aos-duration="1000"><a href="{% url 'profession' %}"><img
                                src="{% static 'home/img/professions/developer2.jpg'%}" alt=""></a></div>
                </div>
            </div>
            <form class="my_button" action="{% url 'profession' %}">
                <button>Більше</button>
            </form>
        </div>
    </div>
    <img class="wave" src="{% static 'home/img/home/turquoise_wave.svg'  %}" alt="">
</div>
<!-- schedule -->
<div class="schedule_home">
    <div class="title" data-aos="fade-up">
        <h1>Розклад</h1>
    </div>
    <div class="container">
        <img class="schedule_vector" src="{% static 'home/img/home/schedule_vector.svg'%}" alt="" data-aos="fade-up">
        <div class="text" data-aos="fade-up">
            <h2>Ми піклуємось про наших здобувачів освіти,тому для нас важливо, щоб перегляд розкладу занять був максимально зручним. Розклад уроків оптимізує навчально-виховний процес, регламентує трудовий ритм, впливає на творчу віддачу викладачів та здобувачів освіти. На сайті розроблений зручний та короткий розклад занять для здобувачів освіти. В якому можна вибрати курс, групу та день, на який потрібно побачити розклад. Біля кожного уроку можна побачити годину початку та кінця заняття. 
            </h2>
        </div>
    </div>
    <form class="my_button" action="{% url 'select_schedule' %}">
        <button>Більше</button>
    </form>
    <img class="wave" src="{% static 'home/img/home/while_wave.svg'  %}" alt="">
</div>
<!-- news -->
<div class="news_home">
    <div class="title" data-aos="fade-up">
        <h1>Новини</h1>
    </div>
    <div class="container">
        {% if article %}
        {% for el in article %}
        <a title="{{el.title}}" href="{% url 'news' %}/{{el.id}}" class="news_box" data-aos="fade-up">
            <h2>{{el.title|truncatechars:20}}</h2>
            <p>{{el.text|truncatechars:50}}</p>
        </a>
        {% endfor %}
        {% endif %}
    </div>
    <img class="wave" src="{% static 'home/img/home/turquoise_wave.svg'  %}" alt="">
    <form class="my_button" action="{% url 'news' %}" data-aos="fade-up">
        <button>Більше</button>
    </form>
</div>
<!-- maps -->
<div class="GoogleMap">
    <div class="title" data-aos="fade-up">
        <h1>Ми на карті</h1>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3141.108164181925!2d24.77086270463071!3d48.90883740008846!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c3b8df9d00b9%3A0xcfd5d4d8015c9370!2z0LLRg9C70LjRhtGPINCi0LjRgdC80LXQvdC40YbRjNC60LAsIDI0OCwg0JzQuNC60LjRgtC40L3RhtGWLCDQhtCy0LDQvdC-LdCk0YDQsNC90LrRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDc2NDk0!5e0!3m2!1suk!2sua!4v1651489605732!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p>вулиця Тисменицька, 248, Микитинці, Івано-Франківська область, 76494</p>
</div>
{% include 'home/footer.html' %}
{% block scripts %}
<script>
    window.onload = function () {
        typeWriter();
        start_home_anim();
    }
</script>
{% endblock %}