{% include 'home/header.html' %}
<!-- about text  -->
<div class="about_text">
    <div class="container">
        <div class="col-1" data-aos="fade-up">
            <p>Вище професійне училище №21 </p>
            <h1>Єдине в області</h1>
            <p>Училище машинобудівного профілю</p>
        </div>
        <div class="col-2" data-aos="fade-up">
            <p>Неможливо навіть уявити собі сучасне життя без різноманітних машин і механізмів. Виготовляють їх
                електрогазозварники, ковалі, токарі, фрезерувальники, шліфувальники та слюсарі. Професії ці давні,
                завжди вкрай потрібні і їх можна здобути в нашому училищі. Учням вони приносять радість творення, добрі
                заробітки і можливість професійного та кар’єрного росту.</p>
        </div>
    </div>
</div>
<!-- video -->
<div class="video_block">
    <iframe data-aos="fade-up" width="956" height="538" src="https://www.youtube.com/embed/RkENbyYwIw8"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
<div class="about_footer">
    <div class="container">
        <p>
            З метою забезпечення підготовки кваліфікованих робітників для Івано-Франківського виробничого об’єднання
            “Карпатпресмаш” 8 травня 1987 року в Івано-Франківську було відкрите Cереднє професійно-технічне училище
            №21. <br>Для забезпечення потреб народного господарства робітниками високої кваліфікації наш навчальний
            заклад в 1989 році в числі трьох перших училищ в Україні перейшов в ранг вищого професійного училища.<br>З
            перших років училище налагоджувало співпрацю з інститутами, університетами: від двосторонніх угод до
            входження в науково-навчально виробничі комплекси з Івано-Франківським національним технічним університетом
            нафти і газу та Інститутом менеджменту та економіки “Галицька академія”.<br>З травня 2008 року училище стало
            колективним членом Товариства зварників України
        </p>
    </div>
</div>
{% include 'home/footer.html' %}