{% include 'home/header.html' %}
{% load static %}
    <div class="partners">
        <div class="text">
            <ul>
                <li>ПрАТ “Івано-Франківський </li>
                <li>локомотиворемонтний завод”</li>
                <li>ПАТ “Івано-Франківськгаз”</li>
                <li>ДМП “Івано-Франківськтеплокомуненерго”</li>
                <li>ТзОВ “Міжгалузевий науково-виробничий центр “Епсілон ЛТД”</li>
                <li>КП “Гефест”</li>
                <li>ТзОВ “Івано-Франківський машинобудівний завод “Автоливмаш”</li>
                <li>ДП “Івано-Франківський котельно-зварювальний завод”</li>
                <li>ТзОВ “Свіча”</li>
                <li>ТзОВ “Технополіс”</li>
                <li>ПАТ “Івано-Франківськцемент”</li>
                <li>ТзОВ “Ковальска фабрика “АРМА”</li>
                <li>ПАТ “Івано-Франківський завод “Промприлад”</li>
                <li>ВКФ “Інпромсервіс ЛТД” </li>
                <li>ТДВ “Івано-Франківський хлібокомбінат”</li>
                <li>ТзОВ “Дена Метал Україна”</li>
                <li>ТзОВ “Тайко Електронікс Юкрейн Лімітед”</li>
                <li>ВСП “Івано-Франківські дорожні механічні майстерні”</li>
                <li>ТзОВ “Енергія-захід”</li>
                <li>ТзОВ “Данея”</li>
                <li>ПАТ “Поберезький завод пресових агрегатів”</li>
                <li>ТзОВ “Коруна”</li>
                <li>ПП “Корунд”</li>
                <li>ТДВ “Агропромтехніка”</li>
                <li>ПП “Лайтар Петро Михайлович”</li>
            </ul>
        </div>
        <img class="bg" src="{% static 'home/img/partners/partners_bg.svg' %}" alt="">
        <img class="vector" src="{% static 'home/img/partners/partners_vector.svg' %}" alt="">
    </div>
{% include 'home/footer.html' %}