{% include 'home/header.html' %}
{% load static %}
<!-- profession -->
<div class="my_info_profession">
    <div class="close">
        <svg xmlns="http://www.w3.org/2000/svg" width="72px" height="72px" viewBox="0 0 72 72" id="emoji">
            <line x1="17.5" x2="54.5" y1="17.5" y2="54.5" fill="none" stroke="#000000" stroke-linecap="round"
                stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
            <line x1="54.5" x2="17.5" y1="17.5" y2="54.5" fill="none" stroke="#000000" stroke-linecap="round"
                stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
        </svg>
    </div>
    <img class="info_block_img" src="" alt="">
    <p class="info_block_text">sadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd
        asd asd adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd adssadasdasdsad asd asda das dasd asd asd asd asd
        adssadasdasdsad asd asda das dasd asd asd asd asd ads</p>
</div>
<div class="profession_container">
    <!-- box -->
    <div class="container profession_container__box">
        <div class="box zero" data-aos="fade-up">
            <img src="{% static 'home/img/professions/welder.jpg' %}" alt="">
            <div class="text">
                <div class="title_box">зварник (методи 111, 135, 141, 311)</div>
                <p>Одна з найбільш запитуваних сьогодні професій – «Електрогазозварник». Маючи її можна легко знайти
                    роботу з добрими заробітками як у нас в Україні, так і за кордоном. Але там не мають юридичної сили
                    видані училищами дипломи та присвоєні розряди. Задля вирішення цієї проблеми вище професійне училище
                    № 21 за наказом Міністерства освіти і науки в числі трьох професійно-технічних навчальних закладів
                    України отримало право і розпочало підготовку професії «Зварник» за стандартом, який розроблений
                    інститутом електрозварювання ім. Є.О.Патона. Зміст навчання, його організація відповідають
                    міжнародним вимогам, тому випускникам училища окрім українського диплому кваліфікованого робітника
                    будуть видаватись сертифікати рівня кваліфікації міжнародного зразка, які будуть визнаватися всіма
                    країнами Європи. Навчання не просте. Вся програма розділена на навчальні модулі. Після кожного
                    модуля проводиться атестація учнів. В кінці навчання – незалежна кваліфікаційна атестація. Комісія
                    не з працівників училища, а приїжджає з Києва. Заварені учнями зразки мають витримати механічні
                    випробування. Професія «Зварник» інтегрована. Випускник оволодіє ручним дуговим, газовим,
                    аргонодуговим зварюванням та напівавтоматичним зварюванням у вуглекислому газі.</p>
                <form class="my_button" onsubmit="return false;">
                    <button class="open_info">Більше</button>
                </form>
            </div>
        </div>

        <div class="box" data-aos="fade-up">
            <div class="text">
                <div class="title_box">виробник художніх виробів з металу; коваль ручного кування; зварник (метод 111)
                </div>
                <p> З кожним роком зростає інтерес у людей до художньої творчості зокрема ковальства. Ковані вироби
                    прикрашають інтер’єри осель, офісів, скверів, парків. Вироби з металу набувають все більшої і
                    більшої популярності в зв’язку з чим утворюється багато ковальських майстерень. Але якщо ковальство
                    розвивається то художнє ковальство і художня обробка металу до сьогоднішнього дня мало розвинуте.
                    Тому у ВПУ №21 розпочато підготовку учнів за професією “Виробник художніх виробів з металу”. За час
                    навчання учні оволодіють теоретичними та практичними навичками роботи з металом. Будуть вміти
                    виготовляти ковані вироби для інтер’єрів та екстер’єрів, декоративні решітки, підсвічники,
                    світильники, ковані столики, рами для дзеркала, а також декоративно-пластичні роботи за власною
                    композицією, які зможуть представляти на виставках. У технології художньої обробки металу учні
                    засвоюватимуть такі техніки: карбування, інкрустація, просічка, художнє травлення. Учні навчаться
                    виготовляти сувенірні вироби і предмети домашнього вжитку: плакетки, декоративні шкатулки, рамки для
                    дзеркал, футляри для ключів, та обкладинки для блокнота інкрустовані металом. Щоб удосконалити
                    майстерність та професійний рівень на уроках виробничого навчання учням буде надано можливість
                    створити об’ємно просторові вироби за власними ескізами та дизайнерським рішенням, кращі з яких
                    будуть представлені на міських та регіональних виставках.</p>
                <form class="my_button" onsubmit="return false;">
                    <button class="open_info">Більше</button>
                </form>
            </div>
            <img src="{% static 'home/img/professions/blacksmith.jpg' %}" alt="">
        </div>

        <div class="box" data-aos="fade-up">
            <img src="{% static 'home/img/professions/turner.jpg' %}" alt="">
            <div class="text">
                <div class="title_box">верстатник широкого профілю; оператор верстатів з програмним керуванням (токар,
                    фрезерувальник, шліфувальник, свердлувальник)</div>
                <p>згідно Постанови Кабінету Міністрів України від 16.11.2016 №818 “Про затвердження переліку професій
                    загальнодержавного значення, підготовка за якими здійснюється за кошти державного бюджету” професія
                    “Верстатник широкого профілю” входить у перелік 19 пріоритетних професій. В Івано-Франкеівській
                    області підготовку за даною професією здійснює тільки ВПУ №21 м.Івано-Франківська. Верстатник
                    широкого профілю працює на металообробному виробництві, в ремонтних майстернях, ремонтних цехах
                    різних виробництв. Верстатник виконує обробку деталей з металу та інших матеріалів на токарних,
                    фрезерних, свердлильних та шліфувальних верстатах. Токар – одна з найбільш поширених професій у
                    сфері механічної обробки металів та інших матеріалів. Токар обробляє в основному деталі, які мають
                    вісь обертання: вали, вісі, шнеки, втулки. Фрезерувальник працює на різних універсальних та
                    спеціальних верстатах. Фрезерувальники обробляють площини, зубці шестерень, виготовляють прорізи,
                    ріжуть метал за певними розмірами. Свердлильник обробляє отвори різної точності і складності на
                    вертикальносвердлильних, радіальносвердлильних та інших типах свердлильних верстатів. Шліфувальник
                    обробляє деталі різної конфігурації на верстатах шліфувальної групи, даючи їм найбільшу точність.
                    Працюючи на токарних, фрезерних, свердлильних та шліфувальних верстатах, робітники можуть оволодіти
                    такими суміжними професіями як зуборізальник, розточник, стругальник, а отже, стають спеціалістами
                    широкого профілю. Для підготовки кваліфікованого верстатника в училищі функціонують дві майстерні
                    укомплектовані токарно-гвинторізними, вертикально-фрезерними, горизонтально-фрезерними,
                    універсально-фрезерними, вертикально-свердлильними, радіально-свердлильними, точильно-шліфувальними
                    та плоскошліфувальним верстатами різних моделей. Позитивні сторони професії “Верстатник широкого
                    профілю”: кваліфікований робітник може працювати за будь-яким типом металорізального обладнання та
                    виконувати різні операції з механічної обробки металу.</p>
                <form class="my_button" onsubmit="return false;">
                    <button class="open_info">Більше</button>
                </form>
            </div>
        </div>

        <div class="box" data-aos="fade-up">
            <div class="text">
                <div class="title_box">слюсар з механоскладальних робіт; електрозварник ручного зварювання</div>
                <p> Cлюсар з механоскладальних робіт – основний фахівець в процесі створення готового виробу.
                    Представники цієї професії здійснюють збирання машин і механізмів з деталей, отриманих з інших цехів
                    підприємства (підприємств), а також їх ремонт та обслуговування. В майстерні училища учні вивчають
                    слюсарні операції, вчаться складати і регулювати підшипникові вузли, зубчасті передачі, редуктори,
                    пневмо- та гідпроприводи. Щоб зібрати готовий механізм учні спочатку опрацьовують креслення, готують
                    деталі, потім збирають окремі вузли, регулюють, і, нарешті, проводять випробування зібраного виробу.
                    Налагоджена співпраця з підприємствами “Івано-Франківський локомотиворемонтний завод”, “Дорожні
                    механічні майстерні Львівської залізниці”, “Електролюкс Україна”, які охоче беруть учнів для
                    проходження практики і їх подальшого працевлаштування. ТзОВ “Електролюкс Україна” передало училищу,
                    для навчальних цілей, пральну машину, на якій учні відпрацьовують операції складання. Професія
                    слюсаря з механоскладальних робіт в училищі інтегрована з професією електрозварника. Це дозволяє
                    учням отримати професійні навики із ручного зварювання: підібрати режими зварювання, зварювальні
                    електроди, зварювати конструкції у різних просторових положеннях, обслуговувати електрозварювальну
                    апаратуру, читати креслення, визначати основні причини браку і усувати їх, застосовувати раціональні
                    прийоми роботи, економно використовувати матеріали (електроенергію), дотримуватись правил техніки
                    безпеки, тощо.</p>
                <form class="my_button" onsubmit="return false;">
                    <button class="open_info">Більше</button>
                </form>
            </div>
            <img src="{% static 'home/img/professions/locksmith.jpg' %}" alt="">
        </div>

        <div class="box" data-aos="fade-up">
            <img src="{% static 'home/img/professions/developer.jpg' %}" alt="">
            <div class="text">
                <div class="title_box">оператор з обробки інформації та програмного забезпечення (з поглибленим
                    вивченням мови програмування Java)</div>
                <p>Сьогодні інформаційні комп’ютерні технології увійшли в усі сфери діяльності людини та стали
                    доступними кожному. У відповідь на вимогу часу вище професійне училище №21 м. Івано-Франківська за
                    погодженням із Департаментом професійно-технічної освіти Міністерства освіти і науки України
                    розпочинає підготовку кваліфікованих робітників за інтегрованою професією “Оператор з обробки
                    інформації та програмного забезпечення“. Поки що єдине в області. Державний стандарт
                    професійно-технічної освіти з даної професії розроблено у рамках реалізації Українсько-німецького
                    проекту “Підтримка реформування професійно-технічної освіти України”. Оператор з обробки інформації
                    та програмного забезпечення – це високо­кваліфікований робітник, який вміє не тільки працювати з
                    офісними додатками (текстовим редактором, електронними табли­цями, базами даних, графікою,
                    презентаціями), а й буде техніч­ним фахівцем в області інфор­маційних техно­логій. Він буде вміти
                    налагод­жувати систем­не й прикладне програмне забезпе­чення; обслуговувати й модернізувати
                    персональний комп’ютер, периферійні пристрої; виконувати роботи із захисту інформації; розробляти й
                    створювати Веб-додатки, розміщувати й обслуговувати Веб-сайти; діагностувати поломки, збої в роботі
                    апаратних засобів і програмних продуктів; проектувати, створювати й контролювати роботу локальної
                    мережі; оформлювати організаційно-розпорядчу документацію; надавати інформаційні послуги та
                    проводити обґрунтований вибір комп’ютерної техніки, офісного обладнання та програмного забезпечення
                    відповідно до потреб споживачів. Сферою професійного використання випускників даної професії є
                    сервісні центри з продажу та ремонту комп’ютерної, офісної та побутової техніки;
                    Інтернет-провайдери; фірми-розробники програмних продуктів; підприємства, установи та організації
                    всіх видів економічної діяльності. Училище є важливою ланкою в ланцюзі безперервного навчання ІКТ:
                    школа – ПТНЗ – ВНЗ. Випускники за професією “Оператор з обробки інформації та програмного
                    забезпечення” мають можливість продовжувати навчання у вищих навчальних закладах за напрямом
                    “Комп’ютерна інженерія”.</p>
                <form class="my_button" onsubmit="return false;">
                    <button class="open_info">Більше</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'home/footer.html' %}
{% block scripts %}
<script src="{% static 'home/js/profession.js' %}"></script>
{% endblock %}